@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

.button-form:active, #button-land-page .button-index:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

.button-form:active, #button-land-page .button-index:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

#button-land-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2.5em 0;
}
#button-land-page .button-index {
  box-sizing: border-box;
  width: 32%;
  height: 12em;
  color: black;
  background-color: #56b1bf;
  font-family: "Raleway", sans-serif;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#button-land-page .button-index:active {
  background-color: #d73131;
}
#button-land-page .buttons {
  color: black;
  font-size: 1em;
}
#button-land-page .buttons-img {
  width: 2.5em;
  height: 2.5em;
}

/*Tablets*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .button-index {
    height: 14em;
  }
}
@media only screen and (min-width: 961px) {
  #button-land-page {
    margin: 2em 0;
  }

  .button-index {
    height: 16em;
    background-color: #56b1bf;
  }
  .button-index:hover {
    background-color: #d73131;
    transform: scale(1.1);
  }

  .buttons {
    font-size: 1.2em;
  }

  .buttons-img {
    width: 5em;
    height: 5em;
  }

  .button-form:hover {
    transform: scale(1.1);
  }
}
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

header {
  position: sticky;
  top: 0;
  z-index: 4;
}
header #menu-nav {
  background-color: #032b2f;
  align-items: center;
  padding: 0.5em;
}
header #menu-nav a {
  text-decoration: none;
}
header #menu-nav .menu {
  color: #d0d3c5;
}
header #menu-nav .menu-a {
  display: inline-flex;
  flex-basis: auto;
  align-content: center;
}
header #menu-nav .menu-logo {
  padding: 0.5em;
  width: 2em;
  height: 2em;
}
header #menu-nav .menu-h1 {
  color: #d0d3c5;
  font-size: 1.5em;
  margin-bottom: 0;
}
header #menu-nav:active {
  color: #d0d3c5;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .menu-h1 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 961px) {
  #menu-nav {
    background-color: #032b2f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 5em;
  }

  .menu-logo {
    width: 2.5em;
    height: 2.5em;
  }

  .menu-h1 {
    display: inline-flex;
    font-size: 3em;
    margin-bottom: 0;
  }

  .menu:hover {
    color: #d0d3c5;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d0d3c5;
}

.margin-div {
  margin: 3em 1em;
}

.sucursales-h {
  height: 30em;
}

.error-404 {
  background-image: linear-gradient(125deg, #032b2f, #56b1bf);
}

@media only screen and (min-width: 961px) {
  .margin-div {
    margin: 2em 7em;
  }
}
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

.footer-menu {
  position: relative;
  bottom: 0;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  align-content: center;
  background-color: #032b2f;
  height: 30em;
  display: grid;
}

.footer-ul {
  list-style: none;
}

.footer-titulo {
  text-decoration: underline;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

.footer-a {
  text-decoration: none;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
  font-size: 0.8em;
}

.footer-a:hover {
  color: #d0d3c5;
}

.footer-logo, .footer-img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 10px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .footer-logo, .footer-img {
    width: 1.3em;
    height: 1.3em;
  }
}
@media only screen and (min-width: 961px) {
  .footer-menu {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    align-content: center;
    margin: auto;
    height: 12em;
  }

  .footer-a {
    text-decoration: none;
    color: #d0d3c5;
    font-family: "Raleway", sans-serif;
    font-size: 0.8em;
  }

  .footer-logo, .footer-img {
    width: 1.5em;
    height: 1.5em;
  }
}
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

.div-servicios {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
}

.div-cotizacion {
  padding: 2.5em 1em;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  margin: 0.5em;
}

.div-nosotros {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  padding: 0.5em;
}

.div-contacto {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  margin: 0.5em;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .div-servicios {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}
@media only screen and (min-width: 961px) {
  .div-servicios {
    grid-template-columns: auto auto;
    grid-template-rows: 3fr;
    margin-bottom: 2em;
  }

  .div-sucursales {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 2em 7em;
    margin-bottom: 2em;
  }

  .div-cotizacion {
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr;
    margin: 2em 7em;
    padding: 1em;
  }

  .div-nosotros {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
  }

  .div-contacto {
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    margin: 2em 7em;
  }
}
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

.form-text {
  color: #032b2f;
  font-size: 1em;
}

@media only screen and (min-width: 961px) {
  .form-text {
    font-size: 1.2em;
  }
}
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

h2 {
  color: #032b2f;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  text-decoration: underline;
  padding: 0.5em;
}

.h3 {
  color: #032b2f;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.parrafo, .parrafo-nosotros,
.li-valores, .parrafo-cotizacion {
  color: #032b2f;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: justify, center;
  line-height: 1.2, 1.4, 1.6;
}

@media only screen and (min-width: 961px) {
  h2 {
    font-size: 1.8em;
  }

  .h3 {
    font-size: 1.5em;
  }

  .parrafo, .parrafo-nosotros,
.li-valores, .parrafo-cotizacion {
    font-size: 1.2em;
    line-height: 1.6;
  }
}
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

.li-valores {
  list-style-type: disc;
}

.li-contacto {
  list-style: none;
  color: #032b2f;
  font: "Raleway", sans-serif;
}

.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

.imagen-servicios {
  width: 5em;
  height: 5em;
  padding: 0.2em;
  margin: auto;
}

.section-space .monocromatic {
  display: block;
}
.section-space .color {
  display: none;
}

.section-space:hover .monocromatic {
  display: none;
}
.section-space:hover .color {
  display: block;
}

.map {
  margin: 2em 0.3em;
  box-sizing: border-box;
  width: 20em;
  height: 20em;
}

.imagen-contacto {
  width: 0.8em;
  height: 0.8em;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .imagen-servicios {
    width: 5em;
    height: 5em;
  }
}
@media only screen and (min-width: 961px) {
  .imagen-servicios {
    width: 8em;
    height: 8em;
    padding: 1em;
  }

  .map {
    width: 20em;
    height: 20em;
  }

  .imagen-contacto {
    width: 1.5em;
    height: 1.5em;
  }
}
.input-contact {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  border: 1px solid #d0d3c5;
  color: #032b2f;
  border-radius: 2px;
  margin-bottom: 0.5em;
}

#button-land-page .button-index:active, .button-form:active {
  transform: scale(1.1);
}

.button-form {
  background-color: #032b2f;
  color: #d0d3c5;
  font-family: "Raleway", sans-serif;
}

.section-space {
  border-top: solid 2px #032b2f;
  border-right: solid 1px #032b2f;
  border-bottom: solid 2px #032b2f;
  border-left: solid 1px #032b2f;
}

.section-space {
  box-sizing: border-box;
  height: 20em;
  margin: 0.2em;
  padding: 0.5em;
  background-color: #d0d3c5;
  text-align: center;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .section-space {
    height: 25em;
  }
}
@media only screen and (min-width: 961px) {
  .section-space {
    height: 24em;
  }
}

/*# sourceMappingURL=style.css.map */
