/*CSS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Variables*/
:root {
    --color-primero: #d0d3c5;
    --color-segundo: #032b2f;
    --color-tercero: #08708a;
    --color-cuarto:#d73131;
    --color-quinto: #56b1bf;
    --font:'Raleway', sans-serif;      
}

* {
    margin: 0;
    padding: 0;
}

/* CSS */
body {
    background-color: var(--color-segundo);
}

/*index CSS*/

/*header css*/

header {
    position: sticky;
    top: 0px;
}

#nav-menu {
    background-image: linear-gradient(--color-segundo, --color-tercero); 
    align-items: center;
}
