//footer scss
@import '../bases/variables';
.footer-menu {   
    position: relative;
    bottom: 0;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    align-content: center;
    background-color: $color-segundo;
    height: nth(
        $height,
        16
    );
    display: nth(
        $display,
       3
    );
}

.footer-ul {              
    list-style: none;
}

#footer-titulo {
    text-decoration: nth(
        $text-decoration,
        2
    );
    color: $color-primero;
    font-family: $font;
    font-size: nth(
        $font-size,
        2
    );            
}

.footer-a {
    text-decoration: nth(
        $text-decoration,
        1
    );
    color: $color-primero;
    font-family: $font;
    font-size: nth(
        $font-size,
        1
    );      
}

.footer-a:hover {
    color: $color-primero;
}

.footer-logo, .footer-img {
    width: nth(
        $width,
        2
    );
    height: nth(
        $height,
        2
    );
    margin-right: 10px;
}

//Tablets
@media only screen and (min-width:401px) and (max-width:960px) {
    
    .footer-logo, .footer-img {    
        width: nth(
            $width,
            3
        );
        height: nth(
            $height,
            3
        );
    }        
}

//Desktop
@media only screen and (min-width:961px) {

    .footer-menu  {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        align-content: center;
        margin: auto;
        height: nth(
            $height,
            10
        );
    }
    
    .footer-a {
        text-decoration: nth(
            $text-decoration,
            1
        );
        color: $color-primero;
        font-family: $font;
        font-size: nth(
            $font-size,
            1
        );      
    }
    
    .footer-logo, .footer-img {
        width: nth(
            $width,
            4
        );
        height: nth(
            $height,
            4
        );
    }
    
}

