//forms scss
@import '../bases/variables';
.input-contact {
    @extend %input;
}

.form-text {
    color: $color-segundo;
    font-size: nth(
        $font-size,
        2
        );    
}

//Desktop
@media only screen and (min-width:961px) {
 .form-text {
        font-size: nth(
            $font-size,
            3
        );
    }
 }