//header scss
@import '../bases/variables';

header {
    position: sticky;
    top: 0;
    z-index: 4;
    #menu-nav {
        background-color: $color-segundo;
        align-items: $align-items;
        padding: nth(
            $padding,
            1
        );       
        a {
            text-decoration: nth(
                $text-decoration,
                1
            );
        }
        .menu {
            color: $color-primero;
        }
        .menu-a {
            display: nth(
                $display,
                2
            );
            flex-basis: auto;
            align-content: $align-content;
        
        }
        .menu-logo{
            padding: nth(
                $padding,
                1
            );
            width: nth(
                $width,
            6
            );
            height: nth(
                $height,
            6
            ); 
        }
        .menu-h1 { 
            color:  $color-primero;
            font-size: nth(
                $font-size-h1,
                1
            );
            margin-bottom: 0;
        }
        &:active {
            color: $color-primero;
        }
    }
}

//Tablet
@media only screen and (min-width:401px) and (max-width:960px) {
        .menu-h1{
        font-size: nth(
            $font-size-h1,
            2
        );
        }              
}

//Desktop
@media only screen and (min-width:961px) {
    #menu-nav {
        background-color: $color-segundo;
        @include flex (space-between); 
        flex-basis: 5em;        
    }
        .menu-logo{
            width: 2.5em;
            height: 2.5em; 
        }
        .menu-h1 {
            display: nth(
                $display,
                2
            );
            font-size: nth(
                $font-size-h1,
                3
            );
            margin-bottom: 0;
        }
        .menu:hover {
            color: $color-primero;
        }
}

