//imagenes y mapas scss
@import '../bases/variables';
//servicios.html
.imagen-servicios{
    width: nth(
        $width,
        8
    );
    height:nth(
        $height,
        8   
    );
    padding: 0.2em;
    margin: nth(
            $margin,
            3
        );        
    }

.section-space {    
    .monocromatic {
        display: nth(
            $display,
            4
        );        
    }
    .color {
        display: nth(
            $display,
            5
        );
    }
}

.section-space:hover { 
    .monocromatic {
        display: nth(
            $display,
            5
        );
    }
    .color {
        display: nth(
            $display,
            4
        );
    }
}

//sucursales.html
.map {    
    margin: 2em 0.3em; 
    box-sizing:border-box;
    width: nth(
            $width,
            13
        );
        height: nth(
            $height,
            13
        );
}
//contacto.html
.imagen-contacto {
    width: nth(
        $width,
        1
    );
    height:nth(
        $height,
        1
    );
}

//Tablet
@media only screen and (min-width:401px) and (max-width:960px) {
    //servicio.html
    .imagen-servicios{
        width: nth(
            $width,
            8
        );
        height:nth(
            $height,
            8
        );       
    }
}
//Desktop
@media only screen and (min-width:961px) {
    //servicio.html
    .imagen-servicios{
        width: nth(
            $width,
            9
        );
        height:nth(
            $height,
            9
        );
        padding: nth(
            $padding,
            2
        );
    }
    //sucursales.html
    .map {    
       width: nth(
            $width,
            13
        );
        height:nth(
            $height,
            13
        );
    }
    //contacto.html
    .imagen-contacto {
        width: nth(
            $width,
            4
        );
        height:nth(
            $height,
            4
        );
    }
}