//text scss
@import '../bases/variables';
//css h2 todos los archivos
h2 {
    color: $color-segundo;
    font-family: $font;
    font-size: nth(
        $font-size-h2,
        1
    );
    text-decoration: nth(
        $text-decoration,
        2
    );  
    padding: nth(
        $padding, 
        1
    );  
}
//css .h3 todos los archivos
.h3 {
    color: $color-segundo;
    font-family: $font;
    font-size: nth(
        $font-size-h3,
        1
    );
    text-decoration: nth(
        $text-decoration,
        2
    );  
}
a {
    text-decoration: nth(
        $text-decoration,
        1
    );  
}
// p de servicios.html +nosotros.html + cotizacion.html
.parrafo, .parrafo-nosotros, 
.li-valores, .parrafo-cotizacion {
    color: $color-segundo;
    font-family: $font; 
    font-size: nth(
        $font-size,
        2
        );
    text-align: $text-align;
    line-height: $line-height;
}
//Desktop
@media only screen and (min-width:961px) {
    h2 {
        font-size: nth(
        $font-size-h2,
        3
    );
    }
    //css h3 todos los archivos
    .h3 {
        font-size:  nth(
            $font-size-h3,
            3
        );
    }
    // p de servicios.html +nosotros.html + cotizacion.html
    .parrafo, .parrafo-nosotros, 
    .li-valores, .parrafo-cotizacion {
        font-size: nth(
            $font-size,
            3
        );
        line-height: nth(
            $line-height, 
        3
        );
    }
}